<div>
    <mat-form-field floatLabel="always">
        <input type="text" matInput placeholder="姓名" [formControl]="name" required>
        <mat-error *ngIf="name.hasError('required')">
            Name is required
        </mat-error>
        <mat-error *ngIf="name.hasError('minlength')">
            Name must be at least 4 characters long.
        </mat-error>
    </mat-form-field>
</div>
<div>
    <mat-form-field floatLabel="never">
        <textarea matInput placeholder="自我介紹" cdkTextareaAutosize></textarea>
        <mat-hint>簡單介紹你的興趣吧！</mat-hint>
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input type="text" matInput placeholder="國家" [formControl]="country" [matAutocomplete]="countryAuto">
    </mat-form-field>
    <mat-autocomplete #countryAuto="matAutocomplete" [displayWith]="displayCountry">
        <mat-option *ngFor="let autoCountry of countries$ | async" [value]="autoCountry">
            <!-- <span [innerHTML]="highlightSearchCountry(autoCountry.name) | safeHtml"></span> -->
            <span appSearchHighlight [searchWord]="country.value"  [text]="autoCountry.name" highlightClass="autocompleteHighlight"></span>
        </mat-option>
    </mat-autocomplete>
</div>
<div>
    <mat-form-field>
        <input type="text" matInput placeholder="代表技術" [formControl]="majorTech" [matAutocomplete]="techAuto">
    </mat-form-field>
    <mat-autocomplete #techAuto="matAutocomplete">
        <mat-optgroup *ngFor="let autoTech of majorTechs" [label]="autoTech.name">
            <mat-option *ngFor="let tech of autoTech.items" [value]="tech">
                {{tech}}
            </mat-option>
        </mat-optgroup>
    </mat-autocomplete>
</div>
<div>
    <mat-form-field [hideRequiredMarker]="true" appearance="outline" color="accent">
        <mat-label>手機</mat-label>
        <input type="text" matInput [formControl]="tel" placeholder="請輸入電話" required>
        <mat-hint align="start">最多五個字</mat-hint>
        <mat-hint align="end">{{tel.value?.length || 0}}/5</mat-hint>
        <mat-error *ngIf="tel.invalid">
            {{getTelErrorMsg()}}
        </mat-error>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>密碼</mat-label>
        <input [type]="pwdHide? 'password':'text'" matInput placeholder="請輸入密碼">
        <button mat-icon-button (click)="pwdHide = !pwdHide" matSuffix>
            <mat-icon>{{pwdHide? 'visibility_off':'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input type="number" matInput placeholder="請問每日消費?" min="0">
        <mat-icon matPrefix>$&nbsp;</mat-icon>
        <span matSuffix>新台幣</span>
    </mat-form-field>
</div>